@font-face {
    font-family: 'Montserrat_Medium';
    src: url('./fonts/Montserrat-Medium.woff2') format("woff2");
}
@font-face {
    font-family: 'Montserrat_Regular';
    src: url('./fonts/Montserrat-Regular.woff2') format("woff2");
}
@font-face {
    font-family: 'Montserrat_SemiBold';
    src: url('./fonts/Montserrat-SemiBold.woff2') format("woff2");
}
@font-face {
    font-family: 'Montserrat_Bold';
    src: url('./fonts/Montserrat-Bold.woff2') format("woff2");
}
@font-face {
    font-family: 'Montserrat_Thin';
    src: url('./fonts/Montserrat-Thin.woff2') format("woff2");
}
@font-face {
    font-family: 'Montserrat_Light';
    src: url('./fonts/Montserrat-Light.woff2') format("woff2");
}